{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="checkbox">
            <label>
                <input type="checkbox" data-toggle="toggle">
                Do Not Disturb
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" data-toggle="toggle">
                Slack Notification
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" data-toggle="toggle">
                Twitter Notification
            </label>
        </div>
    </div>
{% endblock %}